<div class="button-container">
    <input type="text" placeholder="Search..." id="searchBar">
    <div>
        <ng-template #content let-c="close" let-d="dismiss" class = "new">
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Thông tin sản phẩm</h4>
              <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
            </div>
            <div class="modal-body">
              <form (submit)="c('Save click')">
                <label for="id">ID:</label>
                <input name="id" type="text" id="id" [(ngModel)]="formData.id" required>
          
                <label for="productName">Tên sản phẩm:</label>
                <input name = "name" type="text" id="productName" [(ngModel)]="formData.productName" required>
          
                <label for="brand">Thương hiệu:</label>
                <input name="brand" type="text" id="brand" [(ngModel)]="formData.brand" required>
          
                <label for="price">Giá:</label>
                <input name="price" type="number" id="price" [(ngModel)]="formData.price" required>
          
                <label for="category">Thể loại:</label>
                <select name="category" id="category" [(ngModel)]="formData.category" required>
                  <option value="HÓA TRANG">Hoá trang</option>
                  <option value="THỦ CÔNG - MỸ THUẬT">Thủ công - mỹ thuật</option>
                  <option value="ĐỒ CHƠI NGOÀI TRỜI">Đồ chơi ngoài trời</option>
                  <option value="THỂ THAO">Thể thao</option>
                  <option value="TRÒ CHƠI TRÍ TUỆ">Trò chơi trí tuệ</option>
                  <option value="BÚP BÊ - GẤU BÔNG">Búp bê, gấu bông</option>
                  <!-- Add other categories -->
                </select>
          
                <label for="details">Chi tiết:</label>
                <textarea name="detail" id="details" [(ngModel)]="formData.details" required></textarea>
          
                <label for="images">Ảnh:</label>
                <input type="file" id="images" (change)="handleImageChange($event)" multiple accept="image/*">
                
                <div class="modal-footer">
                  <button type="submit" class="btn btn-outline-dark btn-save">Thêm</button>
                </div>
              </form>
            </div>
        </ng-template>          
        <button class="button" (click)="open(content)">Thêm</button>
        <button class="button" >Xoá</button>
    </div>
</div>

<table class = "product">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên sản phẩm</th>
            <th>Danh mục</th>
            <th>Giá</th>
            <th>Thương hiệu</th>
            <th>Mô tả</th>
        </tr>
    </thead>
    <tbody>
        <!-- Add your table rows dynamically here -->
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>